#hero{
	background: url('assets/bg.jpg') center center fixed;
	background-size: cover;
}
#cards{
	margin: 10px;
}
.login{
	border: 1px solid;
}
#contact{
	margin: 10px;
}
.about{
	margin: 100px;
}

.hcontent{
	margin-top: 100px;
}
.aboutcontent{
	margin-top: 100px;
}
#courselist{
	margin: 10px;
}
#cheading{
	
}
.bg{
	background-color: black;
	margin-top: 0px;

}